# api id and api hash (my.telegram.org)
# required
API_ID='24265373'
API_HASH='7c92b8c32db9560c4569ccb297e3edab'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQFVircAqXAAFpb-GuVkruvMqZ09Vc20PFssfOFBKDsGdETgX2ncDq0UzquNXHKur320yG7Zf0Pw4tRziVOuiBAtDQEX16NzG7wHngxjUAVeYh6cAjJ1qeOOtAN2dgdJZ_ivRdrW-XDCkWXt7Q8soP6qd4zLjcjfP6hUXhPUyh-uZf82qpgGZcUbz_LAmkGJYqasycTA4kNcY-IraPs12iDFGoIwDPKldQ7rNcvWa4dEG8tqhJoIaSpZVRsU-j7afCbHf1HL3AkmCqGCaPkPh-W-enJ6xjlnZE6mBdAPP7GwKvQFFi_pKqp244EPADMbg6q0vZHjlFSEYcgJmjqCnLCknuPxSAAAAAF1oynWAA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='8110413498:AAEkOrZNQjZuD0861jWn0zDBuhK-IH7PoJY'

# sudo user ids (separate with space)
# optional
SUDOERS='6693549185'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID='cb7a550980a046849aeb07ea0b376558'
SPOTIFY_CLIENT_SECRET='15036f6b82414faab68fff030c73f0c5'
